section.card {
    position: relative;
}

/* Center title and allow wrapping on small screens if the select is static (otherwise only element is title) */
.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.title-bar h2 {
    margin: 0;
    flex: 1 1 100%;
    text-align: center;
}

/* Position summary select in top right of card */
.title-bar select {
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    flex: 0 0 auto;
}

/* On small screens move the summary select to not be floating in the top right */
@media (max-width: 800px) {
    .title-bar {
        justify-content: center;
        position: static;
    }

    .title-bar select {
        position: static;
        margin-bottom: 6px;
    }

    .title-bar h2 {
        flex: 1 1 100%;
    }
}