/* Setup margins and hover effects for discussion list card */
.discussion-card {
    margin: 16px 0px;

    cursor: pointer;
    transition: all 0.2s;
}

.discussion-card:hover {
    transform: scale(1.01);
}

/* Setup container for discussion card top row items (title, interactions */
.discussion-card-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.discussion-card-title {
    margin-right: 10px;
}

/* keep content summary to 1 line with ellipses to cut off */
.discussion-card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style edit and delete buttons with hover effects */
.discussion-edit-card .edit-action,
.discussion-edit-card .delete-action {
    transition: all 0.2s ease;
    padding-top: 5px;
}

.discussion-edit-card .edit-action:hover {
    transform: scale(1.1);
    color: var(--accent-color-500);
}

.discussion-edit-card .delete-action:hover {
    transform: scale(1.1);
    color: var(--danger-color);
}