main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right";
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "left"
                "right";
        gap: 1rem;
    }
}

.left-column {
    grid-area: left;
}

.left-column h2 {
    margin-bottom: 10px;
}

.right-column {
    background-color: rgb(236, 236, 236);
    grid-area: right;
    min-width: 0;
    max-width: 100%;
    height: fit-content;
}

.right-column h2 {
    margin-top: 0;
}