/* Override border-radius on key elements */
.card,
input,
textarea,
select,
button {
    border-radius: 0;
    box-shadow: none;
}

:root {
    --nav-background-color: #0b2035;
    --background-color: #efefef;
}